@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html{
    box-sizing: border-box;
}
body{
    margin: 0;
     font-family: 'Bebas Neue', sans-serif;
     background-color: whitesmoke;
}
h1{
    text-align: center;
    margin-top: 25px;
    letter-spacing: 5px;
    font-size: 40px;
}
.loader{
    position: fixed;
    inset: 0;
    background-color: rgba(255,255,255,0.8);
}
.loader img{
    position: fixed;
    top: 40%;
    left:50%
}
.image-container{
    margin: 10px 30%;

}
.image-container img{
    margin-top:5px; width: 100%;
}
@media screen and(max-width:600px) {
    h1{
        font-size: 20px;

    }
    .image-container{
        margin: 10px;
    }
}